# Python virtual environments
*venv/
venv/
pomodoro_venv/
build_env/
.env/
.venv/

# Python byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.spec
build/
dist/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log